body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2,
h3 {
  color: #2e2f42;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.section {
  padding: 120px 0;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo .accent-dark {
  color: #2e2f42;
}

.logo .accent-light {
  color: #f4f4fd;
}

/* Address */

.address {
  font-style: normal;
}

.address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* Link */

.link {
  font-weight: 500;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: #404bbf;
}

/* Button */

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* Social */
.social-item {
  width: 40px;
  height: 40px;
}

.social {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #f4f4fd;
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: calc((100% - 332px) / 2);
  align-items: center;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.menu-link-main {
  position: relative;
  color: #404bbf;
}

.menu-link-main::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.menu-link {
  display: inline-block;
  padding: 24px 0;
}

.header-address {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

/* hero-section */

.hero-section {
  max-width: 1440px;
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  width: 100%;
  margin: 0 auto 48px;
}

/* advantages-section */

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantage-item {
  flex-basis: calc((100% - 72px) / 4);
}

.advantage-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  padding: 24px 100px;
  margin-bottom: 8px;
}

.advantage-icon {
  fill: #2e2f42;
}

.advantage-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* team-section */

.team-section {
  background-color: #f4f4fd;
}

.team-title {
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1128px;
  margin: 0 auto;
  gap: 24px;
}

.team-card {
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card-content {
  text-align: center;
  padding: 32px 0;
}

.team-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-card-text {
  margin-bottom: 8px;
}

.team-card-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-card-social:hover,
.team-card-social:focus {
  background-color: #404bbf;
}

/* portfolio-section */
.portfolio-title {
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1128px;
  row-gap: 48px;
  column-gap: 24px;
  margin: 0 auto;
}

.portfolio-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.portfolio-card-thumb {
  width: 360px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
}

.portfolio-card:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-card-content {
  border: 1px solid #e7e9fc;
  border-top: 0;
  padding: 32px 16px;
}

.portfolio-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-item {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-item-text {
  color: #f4f4fd;
  max-width: 264px;
}

.footer-social-text {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social:hover,
.footer-social:focus {
  background-color: #31d0aa;
}
